{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}
<body>
<div class="wrapper">
    {% include "sidebar.html" %}

    <!-- Page Content -->
    <div id="content">
        <form method="post">
        <h4> Tesouro Direto </h4>

        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Vencimento</th>
                    <th>Tx. Juros</th>
                </tr>
            </thead>
            <tbody>
            {% for papel in titulos %}
                <tr>
                    <td>{{ papel.tipo_titulo }}</td>
                    <td>{{ data_vencimento }}</td>
                    <td>{{ pu }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
        <hr>
        <br>
        <h4> CRI/CRA - LCI/LCA </h4>
        {% for papel in creditos %}
        {% endfor %}
        <br>
        <hr>
        <br>
        <h4> Debênture </h4>
        {% for papel in debentures %}
        {% endfor %}
        </form>
    </div>
</div>
{% include "footer.html" %}