<!-- Sidebar-->
<nav id="sidebar">
    <div class="sidebar-header">
        <h2>Logo CN-Partners</h2>
        <strong>TS</strong>
    </div>
    <hr>
    <ul class="list-unstyled components">
        <li class="active"> <a href="{{url_for('home')}}"> <i class="fa fa-bar-chart"></i> Monitorar </a>  </li>
        {% if mesa == 1: %}
        <li> <a href="{{url_for('ativos')}}"> <i class="fa fa-paper-plane"></i> TAREFAS MESA </a> </li>
        {% endif%}
        <li>  <a href={{url_for('cadastrar')}}> <i class="fa fa-copy"></i> Cadastrar Novo Cliente </a>  </li>
        <li>  <a href="{{url_for('perfil')}}">  <i class="fa fa-user-circle-o"></i>  Perfil  </a>  </li>
        {% if admin == 1: %}
        <li>  <a href="{{url_for('ativos')}}">  <i class="fa fa-paper-plane"></i>  Ativos </a>  </li>
        {% endif %}
        <li>  <a href="{{ url_for('logout') }}"> <i class="fa fa-sign-out"></i> Sair </a> </li>
    </ul>
</nav>